/*
 *
 * CSS Reset
 *
 */
 * {
 	padding:0;
 	margin:0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */
 body {
 	color:white;
 }

 h1	{
    line-height: 41px;
    font-size: 54px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
 }
 h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
 }
 p, strong {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 12px;
    line-height: 21px;
    text-align: justify;
}
 
/*
 *
 * Header
 *
 */
 header.row > div#nav {
 	background-color: black;
 	margin-top: 10px;
    width: 243px;
 }
 header.row > div > nav > ul > li,
 div.right > div#social > ul > li,
 main > div > nav > ul > li {
 	list-style-type: none;
 	display: inline-block;
 }

 header.row > div > nav > ul > li > a {
 	display: block;
 	background-color: black;
 	padding: 10px;
 	text-decoration: none;
 	color: white;
 	text-transform: uppercase;
 	font-family: 'Saira Extra Condensed', sans-serif;
	/*font-family: 'Play', sans-serif;*/
 }
 header.row > div > nav > ul > li > a:focus {
 	background-color: #33353cd4;
 	border-bottom: 3px solid lightgreen;
 }

 header.row > div#head {
 	padding: 15px;
 	background-color: #00000080;
 }

 div.logo > i {
 	line-height: 41px;
    font-size: 30px;
 }
 div.logo:first-child {
 	z-index: 1;
    position: absolute;
 }
 div.logo:nth-child(2n) {
    margin-left: 45px;
 }

 div.right > div#social {
 	text-align: right;
 }
 div.right > div#social > ul > li {
 	margin-left: 10px;
 	padding: 10px 0;
 }

/*
 *
 * Content
 *
 */
 main {
 	background-color: #060606db;
 	/*padding: 20px;*/
 }
 main > div#mainnav {
 	padding: 10px 15px;
 	background-color: black;
 	border-top:1px solid #403f3f;
 	border-bottom:1px solid #403f3f;
 }
 main > div > nav > ul > li > a {
 	display: block;
 	padding: 5px 10px;
 	background-color: black;
 	text-decoration: none;
 	color:white;
 	font-family: 'Saira Extra Condensed', sans-serif;
 	text-transform: uppercase;
 }
 main > div > nav > ul > li > a:hover {
 	background-color: #d62222;
 	border:1px solid #de8181;
 }

 main > div#carousel {
    width: 100%;
    padding: 12px;
 }
 main > div#carousel > img {
    border: 2px solid white;
    width: 100%;
 	position: relative;
 }
 /*main > div#carousel > div {
    position: absolute;
    bottom: 22px;
    background-color: #decece3d;
    width: 77.4%;
    padding: 25px;
 }*/

 main > div#content {
 	min-height: 20vh;
    margin: 10px;
    padding-bottom: 20px;
 }
 
 /*---------- Left Content ----------*/
 main > div#content > div.left {
 	/*background-color: yellow;*/
 }
 main > div#content > div.left > div.data > p {
    margin-bottom: 10px;
 }
 main > div#content > div.left > div.data > p > strong {
    color:lightgreen;
 }
 main > div#content > div.left > div.data > div.thumbnail > img {
    width: 100%;
    height: 100%;
 }
 
 /*---------- Right Content ----------*/
 main > div#content > div.right {
 	padding-left:15px;
 }

 div#content > div.right > form {
    position: relative;
 }

 input[id="search"] {
    background-color: #2b2828;
    border: 0.5px solid #585656;
    padding: 5px;
    width: 100%;
    color: #eae6e6;
 }

 div#content > div.right > form > i {
    position: absolute;
    top: 0px;
    right: 10px;
    line-height: 2;
    font-size: small;
 }

 div#content > div.right > form > div.badge > img {
    width: 100px;
    float: left;
    margin: 10px;
 }

 div#content > div.right > form > div.badge > div {
    padding: 10px;
 }
 div#content > div.right > form > div.badge > div > button:last-child {
    float:right;
 }
 div#content > div.right > form > div.badge > div:last-child {
    background-color: white;
 }
 div#content > div.right > form > div.badge > div > input {
    width: 100%;
    height: 50px;
    word-break: break-word;
 }
 /*----------  Classes ----------*/
 .row:after {
 	content: "";
 	clear:both;
 	display: block;
 }

 .bg-image {
 	background-image: url("../img/bg/bg.jpg");
 	background-size: cover;
 	background-attachment: fixed;
 }

 .logo {
 	line-height: 15px;
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
 }
 .logo-green {
    background-color: green;
}
 .logo-red {
 	background-color: red;
 }

 .data {
    padding: 10px 23px 10px 10px;
    background-color: #2b2828;
    border: 0.5px solid #585656;
    margin-bottom: 15px;
 }

 .thumbnail {
    width: 200px;
    padding: 5px;
    background-color: #423e3e;
    float: left;
    margin-right: 10px;
 }

 .badge {
    background-color: blue;
    margin: 15px 0;
    /*padding: 10px;*/
    background-image: url("../img/bg/bg1.jpg");
    background-size: cover;
    color: black;
 }

 .btn {
    background-color: #484747;
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
    float:right;
    border: none;
    color:white;
    margin-top: 10px;
 }
 .btn-hover:hover {
    background-color: red;
 }

 .btn-primary {
    padding: 5px;
    border-radius: 3px;
    border:none;
 }

/*
 *
 * Custom CSS Fluid Grid System
 *
 */

 .container {
 	width: 80vw;
 	margin: 0 auto;
 }
 .container-fluid {
 	width: 100vw;
 }

 [class*="col"] {
 	float: left;
 }
 